@import-normalize;

* {
  box-sizing: border-box;
}

:root {
  --dark: #333;
  --dark-lighter: #555;
  --dark-lightest: #777;
  --grey: #999;
  --grey-light: #aaa;
  --grey-lightest: #ccc;
  --white: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ddd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a,
a:focus,
a:visited,
a:hover {
  color: inherit;
  text-decoration: none;
}
